$body-text: #181616;
$dark-grey: #585050;
$darker-grey: #444;

/* Microsoft colors */
$orange: #F35C32;
$green: #7FBA00;
$dark-green: #5f850c;
$darker-green: #445f09;
$blue: #028ECE;
$dark-blue: #10303E;
$yellow: #FFB900;

/* social icons */
$facebook: #0F116D;
$twitter: #29C6F3;
$vimeo: #741FA0;

/* backgrounds */
$bg-light-grey: #F4F3EF;
$bg-lighter-grey: #F9F9F9;

/* Navbar ----- */
/* links */
$nav-link-grey: #74838A;
/* icons */
$nav-icon-grey: #737373;
$input-icons: #BDC3C7;

$hovered-link: #0056b3;

/* checkmark */
$checkmark: #30D572;